#main{margin-bottom: 100px;overflow: hidden;}
#main .main-l1{height:50px;font:16px/50px "";color:#333;}
#main .main-l1 a{color:#333;cursor:pointer;}
#main .main-l2{margin-top:20px;}
#main .main-l2 .main-l2-l{float:left;margin-right:20px;width:256px;height:256px;position:relative;}
#main .main-l2 .main-l2-l .left{float:left;margin-right:20px;position:absolute;border:1px solid #ccc;}
#main .main-l2 .main-l2-l .left a{display:block;}
#main .main-l2 .main-l2-l .left a img{width:256px;display:block;}
#main .main-l2 .main-l2-l .left span{display:block;position:absolute;
width:100px;height:100px;background:rgba(255,255,255,0.3);top:0;left:0;display:none;}
#main .main-l2 .main-l2-l .left p{position:absolute;left:0;right:0;top:0;bottom:0;}
#main .main-l2 .main-l2-l .right{position:absolute;width:256px;height:256px;left:300px;border:1px solid black;overflow:hidden;display:none;}
#main .main-l2 .main-l2-l .right img{width:640px;height:640px;position:absolute;}
#main .main-l2 .main-l2-r{float:left;}
#main .main-l2 .main-l2-r p{height:50px;font:700 20px/50px "";}
#main .main-l2 .main-l2-r .cont1{height:20px;font:16px/20px "";}
#main .main-l2 .main-l2-r .cont1 a{color:#2db4ea;}
#main .main-l2 .main-l2-r .cont2{width:680px;height:40px;background-image:url("../images/bg.png");background-size:cover;}
#main .main-l2 .main-l2-r .cont2 img{width:120px;height:30px;margin:-5px 0 0 10px;}
#main .main-l2 .main-l2-r .cont2 span{font:14px/40px "";color:#fff;}
#main .main-l2 .main-l2-r .cont2 s{font:14px/40px "";color:#fff;text-decoration: line-through;}
#main .main-l2 .main-l2-r .cont2 span:nth-child(3){font:20px/40px "";color:#fff;}
#main .main-l2 .main-l2-r .cont3{height:80px;background:#e5e5e5;padding:10px 20px;}
#main .main-l2 .main-l2-r .cont3 p{font:16px/40px "";color:#999;height:40px;}
#main .main-l2 .main-l2-r .cont3 p s{font:16px/40px "";color:#333;text-decoration: line-through;}
#main .main-l2 .main-l2-r .cont3 p span{font:28px/40px "";color:#e4393c;}
#main .main-l2 .main-l2-r .cont4{display:flex;height:30px;margin-top:20px;}
#main .main-l2 .main-l2-r .cont4 p{flex:1;font:16px/30px "";color:#999;}
#main .main-l2 .main-l2-r .cont4 p span{color:#333;margin-left:20px;}
#main .main-l2 .main-l2-r .cont4 p select{width:100px;margin-left:20px;}
#main .main-l2 .main-l2-r .cont5{margin-top:30px;}
#main .main-l2 .main-l2-r .cont5 p{float:left;padding:10px 30px;background:#d5f0fb;border:1px #38b8eb solid;font:18px/27px "";height:27px;color:#2db4ea;cursor: pointer;}
#main .main-l2 .main-l2-r .cont5 p:nth-child(2){margin-left:380px;}




















