.margin{width:960px;margin:0 auto;}


#header{height:30px;background:#f5f5f5;font:14px/30px "微软雅黑";}
#header .header-l{float:left;}
#header .header-l span.te{color:#ccc;}
#header .header-l span.icon-44{color:#2db4ea;padding:0 0 0 15px;}
#header .header-l a{color:#666;}
#header .header-l a:hover{color:#2db4ea;}
#header .header-r{float:right;}
#header .header-r ul{float:right;}
#header .header-r ul li{float:left;}
#header .header-r ul li:nth-child(1){position:relative;}
#header .header-r ul li:nth-child(1) .list{border:1px solid #666;width:80px;padding:5px;background:#fff;display:none;position:absolute;top:0;z-index:4;}
#header .header-r ul li a{color:#666;}
#header .header-r ul li span{padding:0 15px;color:#ccc;}
#header .header-r ul li span.icon-xiajiantou{padding:0;color:#666;line-height:30px;}
#header .header-r ul li a:hover{color:#2db4ea;}

#nav{height:130px;padding-top:30px;position:relative;}
#nav .nav-t{overflow: hidden;}
#nav .nav-t .logo{float:left;}
#nav .nav-t .logo a{display:block;}
#nav .nav-t .logo a img{width:220px;padding-right:105px;}
#nav .nav-t .search{float:left;}
#nav .nav-t .search form{width:460px;height:31px;border:2px solid #2db4ea;position:relative;}
#nav .nav-t .search form input{float:left;border:0;margin:0;padding:0;}
#nav .nav-t .search form p{float:left;width:60px;background:#2db4ea;height:31px;text-align: center;}
#nav .nav-t .search form p:hover{cursor:pointer;}
#nav .nav-t .search form p span.icon-sousuo{color:#fff;font:30px/31px "";}
#nav .nav-t .search form input[type=text]{width:380px;padding:0 10px;font:16px/31px "微软雅黑";}
#nav .nav-t .search ul{}
#nav .nav-t .search ul li{float:left;font:12px/25px "";}
#nav .nav-t .search ul li a{color:#999;}
#nav .nav-t .search ul li:nth-child(1) a{color:#e4393c;}
#nav .nav-t .search ul li span{padding:0 5px;font:11px/25px "";}
#nav .nav-t .car{float:right;font-size:16px;padding:6px 10px;border:1px solid #ddd;border-radius:4px;}
#nav .nav-t .car span{margin-right:5px;}
#nav .nav-b{height:40px;position:absolute;left:0;bottom:0;}
#nav .nav-b dl{font:14px/40px "";}
#nav .nav-b dl dt{float:left;height:40px;width:170px;padding-left:30px;background:#3ab5e6;position:relative;}
#nav .nav-b dl dt ul.list{width:200px;height:400px;position:absolute;background:rgba(76,76,76,0.8);overflow:hidden;z-index: 3;left:0;top:40px;}
#nav .nav-b dl dt ul.list li{height:40px;font:14px/40px "微软雅黑";}
#nav .nav-b dl dt ul.list li a{color:#fff;display:block;height:40px;width:120px;position:relative;padding:0 40px;}
#nav .nav-b dl dt ul.list li a span.icon-bingqilin{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-ertong{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-shuye{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-qian{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-shenghuo{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-wenjuyongpin-{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-maozi{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-pencil{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-yanjing{font:14px/40px "";position: absolute;left:10px;}
#nav .nav-b dl dt ul.list li a span.icon-youjiantou{font:14px/40px "";position: absolute;right:10px;top:0;}
#nav .nav-b dl dt .contbox{position:absolute;width:760px;height:380px;left:200px;top:40px;z-index:3;}
#nav .nav-b dl dt .contbox .cont{width:720px;height:380px;position: absolute;display:none;background:#fff;padding:10px 20px;}
#nav .nav-b dl dt .contbox .cont ul{}
#nav .nav-b dl dt .contbox .cont ul li{border-bottom:1px #eee dashed;}
#nav .nav-b dl dt .contbox .cont ul li a{color:#666;margin-right:5px;cursor:pointer;}
#nav .nav-b dl dt .contbox .cont ul li a:hover{color:#2db4ea;}
#nav .nav-b dl dt .contbox .cont ul li a:nth-child(1){font-weight:bold;color:#212121;margin-right:15px;}
#nav .nav-b dl dt .contbox .cont ul li:nth-child(1) a{font-weight:normal;color:#fff;padding:0 5px;background:#2ab4e8;margin-right:5px;}




#nav .nav-b dl dt span{display:block;float:left;font:30px/40px "";margin-top:2px;}
#nav .nav-b dl dt i{display:block;float:left;}
#nav .nav-b dl dt a{color:#fff;}
#nav .nav-b dl dd{float:left;}
#nav .nav-b dl dd:nth-child(2) a{color:#2db4ea;}
#nav .nav-b dl dd:hover a{color:#2db4ea;}
#nav .nav-b dl dd a{padding:0 15px;}

#banner{height:400px;border-top:2px solid #2db4ea;background:#f5f5f5;}
#banner .cont{width:1130px;height:400px;margin:0 auto;position:relative;overflow:hidden;}
#banner .imgbox{}
#banner .imgbox a{width:1130px;height:400px;position:absolute;left:1130px;}
#banner .imgbox a:nth-child(1){left:0;}
#banner .imgbox a img{width:1130px;height:400px;}
#banner .btn{}
#banner .btn input{width:40px;height:60px;position:absolute;background:rgba(200,200,200,0.7);border:0;padding:0;}
#banner .btn #left{left:0;top:170px;z-index:1;}
#banner .btn #right{right:0;top:170px;z-index:1;}


#ensure{height:40px;font:14px/40px "微软雅黑";}
#ensure i{margin-right:15px;}
#ensure i span{margin:0 5px;color:#3c3c3c;}



#main{overflow:hidden;background:#f5f5f5;}
#main .limitBusy{margin-bottom: 20px;}
#main .limitBusy .busy-t{height:51px;border-bottom:2px #ea5863 solid;}
#main .limitBusy .busy-t img{float:left;margin-top:14px;}
#main .limitBusy .busy-t p{float:left;color:#e4393c;font:14px/51px "微软雅黑";margin-left:20px;}
#main .limitBusy .busy-t .busy-t-r{float:right;}
#main .limitBusy .busy-t .busy-t-r i{float:left;color:#e4393c;font:14px/51px "微软雅黑";}
#main .limitBusy .busy-t .busy-t-r #retroclockbox1{float:left;}
#main .limitBusy .busy-b{}
#main .limitBusy .busy-b ul{width:960px;display: flex;}
#main .limitBusy .busy-b ul li{flex:1;border-right:1px solid #f5f5f5;overflow: hidden;background: #fff;}
#main .limitBusy .busy-b ul li a{display:block;padding:10px 5px;}
#main .limitBusy .busy-b ul li a img{width:190px;}
#main .limitBusy .busy-b ul li .context{text-align: center;}
#main .limitBusy .busy-b ul li .context a{display:block;line-height:18px;height:36px;text-align: center;margin-top:5px;}
#main .limitBusy .busy-b ul li .context p{text-align: center;}
#main .limitBusy .busy-b ul li .context p span{color:#e4393c;font-size:16px;}
#main .limitBusy .busy-b ul li .context p s{color:#999;font-size:12px;text-decoration:line-through;}

#main .hotPush{margin-bottom:20px;overflow: hidden;}
#main .hotPush .hotPush-t{height:45px;border-bottom: 2px #5babbb solid;}
#main .hotPush .hotPush-t p{float:left;font:18px/45px "";}
#main .hotPush .hotPush-t p span{margin-right:15px;}
#main .hotPush .hotPush-t ul{float:right;}
#main .hotPush .hotPush-t ul li{float:left;margin-right:15px;font:14px/45px "";}
#main .hotPush .hotPush-t ul li a{color:#333;}
#main .hotPush .hotPush-t ul li:nth-child(1) a{background:#62adbb;padding:0 10px;color:#fff;}
#main .hotPush .hotPush-b{}
#main .hotPush .hotPush-b ul{width:960px;}
#main .hotPush .hotPush-b ul li{width:190px;float:left;border:1px solid #f5f5f5;overflow: hidden;background: #fff;}
#main .hotPush .hotPush-b ul li a{display:block;padding:10px 5px;width:190px;height:190px;overflow: hidden;}
#main .hotPush .hotPush-b ul li:nth-child(1){height:291px;}
#main .hotPush .hotPush-b ul li:nth-child(1) a{width:190px;height:auto}
#main .hotPush .hotPush-b ul li a img{width:190px;}
#main .hotPush .hotPush-b ul li .context{text-align: center;}
#main .hotPush .hotPush-b ul li .context a{display:block;line-height:18px;height:36px;text-align: center;margin-top:5px;}
#main .hotPush .hotPush-b ul li .context p{text-align: center;}
#main .hotPush .hotPush-b ul li .context p span{color:#e4393c;font-size:16px;}
#main .hotPush .hotPush-b ul li .context p s{color:#999;font-size:12px;text-decoration:line-through;}

#main .book{margin-bottom:20px;overflow: hidden;}
#main .book .book-t{height:45px;border-bottom: 2px #5babbb solid;}
#main .book .book-t p{float:left;font:18px/45px "";}
#main .book .book-t p span{margin-right:15px;}
#main .book .book-t ul{float:right;}
#main .book .book-t ul li{float:left;margin-right:15px;font:14px/45px "";}
#main .book .book-t ul li a{color:#333;}
#main .book .book-t ul li:nth-child(1) a{background:#62adbb;padding:0 10px;color:#fff;}
#main .book .book-b{}
#main .book .book-b ul{width:960px;}
#main .book .book-b ul li{width:190px;float:left;border:1px solid #f5f5f5;overflow: hidden;background: #fff;}
#main .book .book-b ul li a{display:block;padding:10px 5px;width:190px;height:190px;overflow: hidden;}
#main .book .book-b ul li:nth-child(1){height:291px;}
#main .book .book-b ul li:nth-child(1) a{width:190px;height:auto}
#main .book .book-b ul li a img{width:190px;}
#main .book .book-b ul li .context{text-align: center;}
#main .book .book-b ul li .context a{display:block;line-height:18px;height:36px;text-align: center;margin-top:5px;}
#main .book .book-b ul li .context p{text-align: center;}
#main .book .book-b ul li .context p span{color:#e4393c;font-size:16px;}
#main .book .book-b ul li .context p s{color:#999;font-size:12px;text-decoration:line-through;}

#main .leftmenu{position:fixed;top:70px;width:40px;border:1px #e8e8e8 solid;border-width:1px 1px 0 1px;background-color: #fff;font:14px/1.5 "微软雅黑";color:#212121;left:100px;display:none;}
#main .active{display:block;}
#main .leftmenu ul li{border-bottom: 1px #e8e8e8 solid;cursor:pointer;padding:4px;}
#main .leftmenu ul li:hover{color:#fff;background:#2db4ea;}

#footer{}
#footer .footer-t{overflow:hidden;height:60px;padding:20px;border-bottom:1px #e1e1e1 solid;}
#footer .footer-t ul{}
#footer .footer-t ul li{float:left;width:25%;}
#footer .footer-t ul li img{display:block;float:left;width:50px;height:50px;margin-top:5px;margin-right: 15px;}
#footer .footer-t ul li div{float:left;margin-top:5px;}
#footer .footer-t ul li div p{height:25px;font:24px/25px "";}
#footer .footer-t ul li div span{font:14px/25px "";}
#footer .footer-c{padding:10px 0;}
#footer .footer-c dl{float:left;width:120px;}
#footer .footer-c dl dt{height:40px;font:16px/40px "";color:#212121;}
#footer .footer-c dl dd{height:30px;font:14px/30px "";color:#666;}
#footer .footer-c dl dd:hover a{color:#2db4ea;}
#footer .footer-c .footer-c-r{width:220px;float:right;margin:0 40px;}
#footer .footer-c .footer-c-r .box{overflow: hidden;}
#footer .footer-c .footer-c-r .box img{display:block;width:105px;height:105px;}
#footer .footer-c .footer-c-r .box .box-l p{width:105px;text-align: center;}
#footer .footer-c .footer-c-r .box .box-r p{width:105px;text-align: center;}
#footer .footer-c .footer-c-r .box .box-l{float:left;}
#footer .footer-c .footer-c-r .box .box-r{float:right;}
#footer .footer-c .footer-c-r p.te{font-weight: bold;}

















