
.margin{width:960px;margin:0 auto;}

#header{padding:35px 0 34px;border-bottom: 1px #ccc solid;}
#main{height:400px;width:1200px;background:url(../images/loginbg.jpg);background-size:auto;margin:0 auto;}

